# Bỏ qua file rác ở thư mục GỐC (nếu có)
/bootstrap/cache/
/storage/framework/
/storage/logs/

# Bỏ qua file rác ở thư mục 'backend' (nếu có)
/backend/bootstrap/cache/
/backend/storage/framework/
/backend/storage/logs/

# Bỏ qua tất cả các file .log trong các thư mục storage
/storage/*.log
/backend/storage/*.log