# Bỏ qua file rác của Laravel
/bootstrap/cache/
/storage/framework/
/storage/logs/
/backend/bootstrap/cache/
/backend/storage/framework/
/backend/storage/logs/

# Bỏ qua file rác hệ thống
.DS_Store
.deepsource.toml

# Bỏ qua thư viện và file env
/vendor/
/.env