@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.product-card {
    position: relative;
    overflow: visible;
    z-index: 1;
    transition: transform 0.25s ease;
  }
  
  .product-card:hover {
    transform: translateY(-4px);
    z-index: 10; /* nâng context card lên cao */
  }
  
  .product-card .dropdown-menu {
    position: absolute;
    z-index: 9999 !important;
    inset: auto auto auto 0;
  }